@using HearthBuilder.Models
@{
    ViewBag.Title = "Card Id";
}

<h2>Card Id</h2>

<p>Viewing a card</p>

@{
    Card card = (Card)ViewData["card"];
    String searchName = (String)ViewData["searchName"];

    if (card != null)
    {

        <p>Card Name: @card.Name</p>
        <p>Text: @card.Text</p>
        <img src="@card.Url" />
        <img src="@card.UrlGold" />
    }
    else
    {
        <p>Could not find card using searchName: @searchName</p>
    }

}