@using HearthBuilder.Models.Cards
@using HearthBuilder.Models.Decks
@using HearthBuilder.Models.Notifications
@model HearthBuilder.Models.SearchParams

@{
    ViewBag.Title = "Index";
    bool shouldHide = false;
    string duplicateVisible = "";

}

<div class="container">
    <h1>Browse Decks</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Pick One or More Classes</p>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row" style="padding:15px;">
                <div class="col-xs-offset-2 col-xs-8">
                    <fieldset>
                        <div class="input-group">
                            @for (int i = 0; i < Model.Types.Count; i++)
                            {
                                <div class="col-xs-2">
                                    @Html.HiddenFor(m => m.Types[i].Name)
                                    @Html.LabelFor(m => m.Types[i].Checked, Model.Types[i].Name)
                                    @Html.CheckBoxFor(m => m.Types[i].Checked)
                                </div>
                            }
                        </div><br />

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.DeckName, "Deck Name (optional):")
                                    @Html.TextBoxFor(model => model.DeckName)
                                </div>
                            </div>
                        </div><br /><br />

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="submit" value="Search" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div><br />
        }
    </div>

    <div class="browseDeck">
       
        
        @foreach (Deck deck in ViewBag.decks)
        {
            <div class="deckList  text-center">
                <a href="/Deck/View/@deck.Id">
                    <div class="portrait">
                        <div class="@deck.ClassStr.ToLower()">
                            <i></i>
                            <span class="name">@deck.Title</span>
                        </div>
                    </div>
                    <div class="cards">
                        @for (int cardId = 0; cardId < deck.Cards.Count; cardId++)
                        {
                            shouldHide = false;
                            duplicateVisible = "";
                            for (int tmpCardId = 0; tmpCardId < deck.Cards.Count; tmpCardId++)
                            {
                                if (deck.Cards[cardId].Id == deck.Cards[tmpCardId].Id && cardId != tmpCardId)
                                { //if we have duplicate cards
                                    if (cardId < tmpCardId)
                                    { //if were on the first occurance of the card
                                        duplicateVisible = "<span class='duplicate'>2</span>";
                                    }
                                    else if (cardId > tmpCardId)
                                    {  //if were on the 2nd occurance of the card
                                        shouldHide = true; //hide entire entry because the first has a counter
                                    }
                                }
                            }

                            if (shouldHide == false)
                            {
                                <div class='cardRow'>
                                    <div class='card' style="background-image: url('/Content/Images/bars/@(deck.Cards[cardId].Id).png');"></div>
                                    <div class='cardFrame'>
                                        <span class='cardCost'>@(deck.Cards[cardId].Cost)</span>
                                        <span class='cardName'>@(deck.Cards[cardId].Name)</span>
                                        @Html.Raw(duplicateVisible)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>