@using HearthBuilder.Models.Cards
@using HearthBuilder.Models.Decks
@using HearthBuilder.Models.Notifications
@using HearthBuilder.Models
@using HearthBuilder.Models.FilterDecks
@model HearthBuilder.Models.FilterDecks.SearchParams

@{
    ViewBag.Title = "Browse for Decks";
    bool shouldHide = false;
    string duplicateVisible = "";

}

<script>
    var myapp = angular.module('HearthBuilder', ['ngSanitize', 'ui.bootstrap'])
            .controller("BrowseController", function ($scope, $http, $compile, $timeout, $uibModal, $window) {

                // in controller

                //called on page load
                $scope.init = function () {
                    //$scope.refreshButtons();
                };

                $scope.classButton = function(item) {
                    var forId = item.currentTarget.getAttribute("for");
                    var checkBox = angular.element(document.querySelector('#' + forId));
                    if (checkBox.Selected === true) {
                        checkBox.Selected = false;
                    } else {
                        checkBox.Selected = true;
                    }

                    $(item.currentTarget).toggleClass('active');

                    console.log("classButton() forId: " + forId);

                }

                $scope.refreshButtons = function () {
                    var classes = [ "DRUID", "HUNTER", "MAGE", "PALADIN", "PRIEST", "ROGUE", "SHAMAN", "WARLOCK", "WARRIOR" ];

                    angular.forEach(classes, function(value, key) {
                        var lbl = angular.element(document.querySelector('lbl' + value));
                        var chk = angular.element(document.querySelector('chk' + value));

                        console.log("Refreshing checkboxes..." + lbl.html());
                        
                        if (chk.Selected === true) {
                            if ($(lbl).hasClass('active') === true) {
                                $(lbl).toggleClass('active');
                                console.log("selected, isnt checked. Checking.");
                            }
                        }  else {
                            if ($(lbl).hasClass('active') === false) {
                                $(lbl).toggleClass('active');
                                console.log("selected, is checked. unChecking.");
                            }
                        }
                    });
                }

            } )
</script>

<div class="container" data-ng-controller="BrowseController" data-ng-init="init()">
    <h1>Browse Decks</h1>

    <div class="filter">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Filter decks by Class and Name</p>
            </div>
            @using (Html.BeginForm())
            {
                <div class="row" style="padding:15px;">
                    <div class="col-xs-12 form-group">
                        <div class="classButtons">
                            @for (int i = 0; i < Model.Classes.Count; i++)
                            {
                                <div class="btn btn-primary chkBtn">
                                    @Html.HiddenFor(m => m.Classes[i].PlayerClass)
                                    @Html.LabelFor(m => m.Classes[i].Checked, Model.Classes[i].PlayerClass, new { @class = ("lblChk") })
                                    @Html.CheckBoxFor(m => m.Classes[i].Checked, new { @class = ("chk"), @htmlattributes = new { @autocomplete = "off" } })
                                </div>

                                //THIS DOESNT WORK, causes blank results
                                //@Html.CheckBoxFor(m => m.Classes[i].Checked, new { @autocomplete = "off" })
                                //@Html.DisplayName(Model.Classes[i].PlayerClass)
                            }
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.DeckName, new { @class = ("form-control input-lg"), @placeholder = "Deck Name (optional)" })
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Filter" class="btn btn-primary btn-block btn-danger btn-lg" />
                            </div>
                        </div>
                    </div>
                </div><br />
            }
        </div>
    </div>

    <div class="browseDeck">
       
        
        @foreach (Deck deck in ViewBag.decks)
        {
            <div class="deckList  text-center">
                <a href="/Deck/View/@deck.Id">
                    <div class="portrait">
                        <div class="@deck.ClassStr.ToLower()">
                            <i></i>
                            <span class="name">@deck.Title</span>
                        </div>
                    </div>
                    <div class="cards">
                        @for (int cardId = 0; cardId < deck.Cards.Count; cardId++)
                        {
                            shouldHide = false;
                            duplicateVisible = "";
                            for (int tmpCardId = 0; tmpCardId < deck.Cards.Count; tmpCardId++)
                            {
                                if (deck.Cards[cardId].Id == deck.Cards[tmpCardId].Id && cardId != tmpCardId)
                                { //if we have duplicate cards
                                    if (cardId < tmpCardId)
                                    { //if were on the first occurance of the card
                                        duplicateVisible = "<span class='duplicate'>2</span>";
                                    }
                                    else if (cardId > tmpCardId)
                                    {  //if were on the 2nd occurance of the card
                                        shouldHide = true; //hide entire entry because the first has a counter
                                    }
                                }
                            }

                            if (shouldHide == false)
                            {
                                <div class='cardRow'>
                                    <div class='card' style="background-image: url('/Content/Images/bars/@(deck.Cards[cardId].Id).png');"></div>
                                    <div class='cardFrame'>
                                        <span class='cardCost'>@(deck.Cards[cardId].Cost)</span>
                                        <span class='cardName'>@(deck.Cards[cardId].Name)</span>
                                        @Html.Raw(duplicateVisible)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>