@using HearthBuilder.Models.Account
@if (Session["UserSession"] != null)
{

    User user = (User)Session["UserSession"];

    //We'll need to check login states based on our logic here
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(user.FirstName+"'s Decks", "UserDecks", "Browse", routeValues: new { id = "Mine" }, htmlAttributes: new { title = "Logout" })
            </li>
            <li>
                @Html.ActionLink("Log off", "Logout", "Account", routeValues: null, htmlAttributes: new { title = "Logout" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
