@using HearthBuilder.Models.Cards
@using HearthBuilder.Models.Decks
@using HearthBuilder.Models.Notifications
@using System.Web.Optimization
@{
    ViewBag.Title = "Edit a " + ((Deck)Session["deck"]).ClassStr + " Deck";
}

<div data-ng-controller="EditDeckController" data-ng-init="init('@(((Deck)Session["deck"]).Title)', @(((Deck)Session["deck"]).Id), @((int)((Deck)Session["deck"]).Class))" class="buildDeck">
    
    <script src="~/Scripts/controllers/EditDeckController.js"></script>
    
    <div id="notificationBlock">
        <div ng-show="showNotificationMessage" class="notificationAlert alert {{notification.type}} alert-dismissible" role="alert">
            <strong>{{notification.title}}</strong> {{notification.message}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-fixed-262">
                <div class="deckOptions">
                    <button @(Session["UserSession"] == null ? "disabled" : String.Empty) ng-click='saveDeckClick()' class="btn btn-primary btn-lg">Save</button>
                    <button ng-click='delDeckClick()' class="btn btn-danger btn-lg">Delete</button>
                </div>
                <div id="overview" class="panel panel-default">
                    <div class="panel-heading"><input type="text" name="input" ng-model="txtDeckName" ng-trim="true" placeholder="Deck Name" class="txtInput" /></div>
                    <div class="panel-body">
                        <div class="deckList">
                            <div class='cardRow' ng-repeat="card in deckCards" ng-if="card.isDuplicate == false" popover-placement='auto' uib-popover-template='cardPopover.templateUrl' popover-trigger='mouseenter' ng-mouseenter='cardHover($event)' ng-click='delCardClick($event)' data-id='{{card.Id}}'>
                                <div class='cardImg' style="background-image: url('/Content/Images/bars/{{card.Id}}.png')"></div>
                                <div class='cardFrame'></div>
                                <span class='cardCost'>{{card.Cost}}</span>
                                <span class='cardName'>{{card.Name}}</span>
                                <span class='delCard'>Remove <i class='fa fa-times' aria-hidden='true'></i></span>
                                <span class='duplicate' ng-if="card.hasDuplicate == true">2</span>
                            </div>
                        </div>
                        <div class="cardCount">
                            <span>({{cardCount}}/30) Cards</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-offset-262">
                <h1>Editing a @(((Deck)Session["deck"]).ClassStr) Deck</h1>
                <div id="overview" class="panel panel-default">
                    <div class="panel-heading">Search for Cards: <input autofocus type="text" name="input" ng-model="txtSearch" ng-change="filterCards()" ng-trim="true" placeholder="Card Names" class="txtInput"/> </div>
                    <div class="panel-body">
                        <div class="row selectCard">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-repeat="card in filteredCards">
                                <img alt="{{card.Name}}" ng-click="addCardClick($event)" data-id="{{card.Id}}" src="{{card.Url}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>