@using HearthBuilder.Models.Cards
@using HearthBuilder.Models.Decks
@using HearthBuilder.Models.Notifications

@{
    ViewBag.Title = "View Deck";

    bool shouldHide = false;
    string duplicateVisible = "";
}

<div class="container">
    <h1>Viewing Deck:</h1>
    <div class="viewDeck">

        <a class="btn btn-primary btn-lg" href="/Deck/Edit/@ViewBag.deck.Id">Edit Deck</a>
        <div class="deckList  text-center">
            <a href="/Deck/View/@ViewBag.deck.Id">
                <div class="portrait">
                    <div class="@ViewBag.deck.ClassStr.ToLower()">
                        <i></i>
                        <span class="name">@ViewBag.deck.Title</span>
                    </div>
                </div>
                <div class="cards">
                    @for (int cardId = 0; cardId < ViewBag.deck.Cards.Count; cardId++)
                    {
                        shouldHide = false;
                        duplicateVisible = "";
                        for (int tmpCardId = 0; tmpCardId < ViewBag.deck.Cards.Count; tmpCardId++)
                        {
                            if (ViewBag.deck.Cards[cardId].Id == ViewBag.deck.Cards[tmpCardId].Id && cardId != tmpCardId)
                            { //if we have duplicate cards
                                if (cardId < tmpCardId)
                                { //if were on the first occurance of the card
                                    duplicateVisible = "<span class='duplicate'>2</span>";
                                }
                                else if (cardId > tmpCardId)
                                {  //if were on the 2nd occurance of the card
                                    shouldHide = true; //hide entire entry because the first has a counter
                                }
                            }
                        }

                        if (shouldHide == false)
                        {
                            <div class='cardRow'>
                                <div class='card' style="background-image: url('/Content/Images/bars/@(ViewBag.deck.Cards[cardId].Id).png');"></div>
                                <div class='cardFrame'>
                                    <span class='cardCost'>@(ViewBag.deck.Cards[cardId].Cost)</span>
                                    <span class='cardName'>@(ViewBag.deck.Cards[cardId].Name)</span>
                                    @Html.Raw(duplicateVisible)
                                </div>
                            </div>
                        }
                    }
                </div>
            </a>
        </div>
    </div>
</div>